Source: spreed-webrtc
Section: web
Priority: extra
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>,
 Simon Eisenmann <simon@struktur.de>
Build-Depends:
 autoconf,
 automake,
 debhelper (>= 9),
 dh-golang,
 dh-systemd,
 golang-context-dev,
 golang-github-satori-uuid-dev,
 golang-go (>= 1.4),
 golang-goacceptlanguageparser-dev,
 golang-httputils-dev,
 golang-mux-dev,
 golang-nats-dev,
 golang-phoenix-dev (>= 1.0.0),
 golang-pkac-dev,
 golang-securecookie-dev,
 golang-sloth-dev,
 golang-websocket-dev,
 libtool,
 nodejs (>= 0.6.0),
 ruby-compass,
 ruby-sass (>= 3.2)
Standards-Version: 3.9.5
Built-Using: ${misc:Built-Using}
Homepage: https://github.com/strukturag/spreed-webrtc

Package: golang-spreed-webrtc-dev
Architecture: all
Depends: ${misc:Depends},
 golang-context-dev,
 golang-github-satori-uuid-dev,
 golang-go (>= 1.4),
 golang-goacceptlanguageparser-dev,
 golang-httputils-dev,
 golang-mux-dev,
 golang-nats-dev,
 golang-phoenix-dev (>= 1.0.0),
 golang-pkac-dev,
 golang-securecookie-dev,
 golang-sloth-dev,
 golang-websocket-dev
Description: Spreed WebRTC development GO package
 Provides Go modules from the Spreed WebRTC project.

Package: spreed-webrtc
Architecture: all
Depends:
 spreed-webrtc-bin (>= ${source:Version}),
 spreed-webrtc-bin (<< ${source:Upstream-Version}.1~),
 spreed-webrtc-assets (= ${source:Version}),
 ${misc:Depends}
Replaces: spreed-speakfreely
Description: WebRTC audio/video call and conferencing server
 The spreed-webrtc server supports WebRTC based conferencing using the latest
 web standards.
 .
 Full STUN and TURN integration is supported, and clients connect to the server
 over HTTP+WebSockets, making it possible to make calls through almost any
 firewall with the correct configuration.
 .
 All calls use WebRTC's encrypted peer-to-peer support and chat will also use
 peer-to-peer connections whenever possible, providing a high degree of privacy
 and security.

Package: spreed-webrtc-bin
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: spreed-webrtc (<< 0.25.0)
Conflicts: spreed-webrtc (<< 0.25.0)
Breaks: spreed-webrtc (<< 0.25.0)
Recommends: logrotate
Description: WebRTC audio/video call and conferencing server - binaries
 The spreed-webrtc server supports WebRTC based conferencing using the latest
 web standards.
 .
 Full STUN and TURN integration is supported, and clients connect to the server
 over HTTP+WebSockets, making it possible to make calls through almost any
 firewall with the correct configuration.
 .
 All calls use WebRTC's encrypted peer-to-peer support and chat will also use
 peer-to-peer connections whenever possible, providing a high degree of privacy
 and security.
 .
 This package contains binaries files.

Package: spreed-webrtc-assets
Architecture: all
Depends:
 ${misc:Depends}
Replaces: spreed-webrtc (<< 0.25.0)
Conflicts: spreed-webrtc (<< 0.25.0)
Breaks: spreed-webrtc (<< 0.25.0)
Description: WebRTC audio/video call and conferencing server - static assets
 The spreed-webrtc server supports WebRTC based conferencing using the latest
 web standards.
 .
 Full STUN and TURN integration is supported, and clients connect to the server
 over HTTP+WebSockets, making it possible to make calls through almost any
 firewall with the correct configuration.
 .
 All calls use WebRTC's encrypted peer-to-peer support and chat will also use
 peer-to-peer connections whenever possible, providing a high degree of privacy
 and security.
 .
 This package contains static assets.
