Source: spreed-webrtc
Section: web
Priority: extra
Maintainer: struktur AG <opensource@struktur.de>
Uploaders:
 Joachim Bauch <bauch@struktur.de>
Build-Depends:
 autoconf,
 automake,
 debhelper (>= 8.0.0),
 golang (>= 1.1),
 golang-context-dev,
 golang-goacceptlanguageparser-dev,
 golang-httputils-dev,
 golang-mux-dev,
 golang-phoenix-dev,
 golang-pkac-dev,
 golang-securecookie-dev,
 golang-sloth-dev,
 golang-uuid-dev,
 golang-websocket-dev,
 libtool,
 nodejs (>= 0.6.0),
 ruby-compass,
 ruby-sass (>= 3.2)
Standards-Version: 3.9.3
Homepage: http://spreedspeakfreely.org

Package: spreed-webrtc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: spreed-speakfreely
Description: WebRTC audio/video call and conferencing server
 The spreed-webrtc server supports WebRTC based
 conferencing using the latest web standards. Full STUN
 and TURN integration is supported, and client connect to
 the server over HTTP+WebSockets, making it possible to make
 calls through almost any firewall with the correct
 configuration. All calls use WebRTC's encrypted peer-to-peer
 support and chat will also use peer-to-peer connections
 whenever possible, providing a high degree of privacy and
 security.
