#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

export DH_OPTIONS
export DH_GOPKG := github.com/strukturag/spreed-webrtc

export CONFIG_PATH=/etc/spreed
export CONFIG_FILE=webrtc.conf

PACKAGE = $(firstword $(shell dh_listpackages))
DEBIAN  = $(CURDIR)/debian
TMP     = $(DEBIAN)/tmp

## Based on http://wiki.debian.org/onlyjob/get-orig-source
PKD   = $(abspath $(dir $(MAKEFILE_LIST)))
PKG   = $(word 2,$(shell dpkg-parsechangelog -l$(PKD)/changelog | grep ^Source))
UVER  = $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')
DTYPE =
VERSION  ?= $(subst $(DTYPE),,$(UVER))
PACKAGE_VERSION = "$VERSION"
export VERSION
export PACKAGE_VERSION

override_dh_auto_configure:
		dh_auto_configure
		autoreconf --install
		DEB_BUILDING=1 ./configure --prefix=$(TMP)/usr/

override_dh_auto_build-arch:
		DEB_BUILDING=1 make get
		DEB_BUILDING=1 make release-binary

override_dh_auto_build-indep:
		DEB_BUILDING=1 make release-assets

override_dh_auto_install-arch:
		DEB_BUILDING=1 make install-binary

override_dh_auto_install-indep:
		dh_auto_install
		DEB_BUILDING=1 make install-assets
		$(RM) $(TMP)/usr/share/spreed-webrtc-server/www/static/fonts/LICENSE
		cp $(CURDIR)/server.conf.in $(DEBIAN)/spreed-webrtc/${CONFIG_PATH}/$(CONFIG_FILE)
		sed -i 's|;root = .*|root = /usr/share/spreed-webrtc-server/www|' $(DEBIAN)/spreed-webrtc/$(CONFIG_PATH)/$(CONFIG_FILE)
		install $(CURDIR)/LICENSE $(DEBIAN)/spreed-webrtc/usr/share/doc/spreed-webrtc/AGPL-3

override_dh_auto_test:
#		dh_auto_build -- releasetest DEB_BUILDING=1

override_dh_auto_clean:
		dh_auto_clean
		rm -rf INSTALL aclocal.m4 \
				config.h config.h.in config.log \
				config.status configure install-sh \
				missing stamp-h1
		find . \( -name Makefile -o -name Makefile.in \) -delete
		find . -type d -name .sass-cache -exec rm -rf \{\} \+

%:
	dh $@ --buildsystem=golang --with=golang --fail-missing
